body {
  background-color: #1976D2;
  padding: 40px;
  color: white;
}

header h1{
    text-align: center;
    font-size: 3rem;
}

header p{
    text-align: center;
    font-size: 1.5rem;
}

 .social-links {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 50px 0;
  flex-wrap: wrap;
}

.social-card {
  background: white;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  width: 130px;
  transition: 0.3s;
  margin-top: 0;
}



.social-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

.social-card a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #333;
  padding: 20px;
}

.social-card img {
  width: 60px;
  height: 60px;
  margin-bottom: 10px;
}

.social-card span {
  font-weight: bold;
  font-size: 16px;
}


