* {
  font-family: "Poppins", sans-serif;
}

body {
  text-align: center;
  background-color:rgb(119, 179, 231) ;
  margin: 0;
  padding:0;
}

.form {
  background-color: honeydew;
  height: 428px;
  width: 300px;
  box-shadow: 0px 0px 10px black;
  border-radius: 20px;
  margin: 50px auto;
 padding:100px;
}
header{
  font-size: 2rem;
  padding: 20px;
  margin :0px auto; 
  background-color: rgb(27, 121, 203);
  color:#ffff;
}
footer{
  background-color: rgb(27, 121, 203);
  color: white;
  padding:20px;
  margin: 0;
}